body {
	font-family: 'Source Code Pro', serif;
	text-align: center;
	background-color: #AA8F76;
	color: #5B2C28
}

li {
	display: inline-block;
	list-style-type: none;
	padding: 10px;
}

a {
	color: #5B2C28;
}

a:hover {
	color: #C4183B;
}